@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@503&display=swap');

body {
    font-family: 'Spartan';
    color: #230903;
    text-align: center;
}

h1 {
    color: #053D76;
    padding-top: 10px;
}

.button-register {
    outline: none;
    background: none;
    transition: .5s;
    font-family: 'Spartan';
    border-radius: 2px;
    padding: 5px;
    margin: 7px;
    border: 1px solid #053D76;
}
.button-register:hover {
    transform:scale(1.01); 
    border: none;
}

.button-login {
    outline: none;
    background: none;
    transition: .5s;
    font-family: 'Spartan';
    border-radius: 2px;
    padding: 5px;
    margin: 7px;
    border: 1px solid #053D76;
}
.button-login:hover {
    transform:scale(1.01); 
    border: none;
}

.form--login {
    border: 2px solid #427AA1;
    margin-top: 30px;
   margin-left: 300px;
   margin-right: 300px;
    color: #230903;
    padding-left: 5px;
}

#logo {
    height: 35px;
    width: 35px;
    text-align: center;
}

.registration {
    border-radius: 2px;
    border: 2px solid #427AA1;
    color: #230903;
    margin-left: 800px;
    margin-right: 800px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px; 
}


.button--remove {
    outline: none;
    background: none;
    transition: .5s;
    font-family: 'Spartan';
    border-radius: 2px;
    padding: 5px;
    margin: 7px;
    border: 1px solid #902923;
    color: #902923;
}
.button--remove:hover {
    transform:scale(1.01); 
    border: none;
}

.profile {
    
    font-family: 'Spartan';
    color: #053D76;
    text-align: center;
}

.link--register {
    color: #053D76; 
}